*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*cores auxiliares*/
h1 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 52px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #232224;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.9;
}

.btn {
  border-radius: 16px;
  background: var(--gradiente-green-my-bank, linear-gradient(221deg, #00FD83 0%, #00BF63 70%));
  padding: 12px 32px;
  transition: 0.3s ease;
  color: #FBFFFC;
  box-shadow: 0px 1.9473838806px 2.717279911px 0px rgba(80, 196, 133, 0.05), 0px 5.3842673302px 7.5129313469px 0px rgba(80, 196, 126, 0.07), 0px 12.9632415771px 18.0882434845px 0px rgba(80, 196, 126, 0.09), 0px 43px 60px 0px rgba(80, 196, 133, 0.14);
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 1.9473838806px 2.717279911px 0px rgba(47, 145, 97, 0.87), 0px 5.3842673302px 7.5129313469px 0px rgba(15, 228, 125, 0.07), 0px 12.9632415771px 18.0882434845px 0px rgba(71, 227, 152, 0.09), 0px 43px 60px 0px rgba(7, 205, 110, 0.14);
}

html {
  scroll-behavior: smooth; /*deixa o scrool mais suave*/
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth; /*deixa o scrool mais suave*/
  background-color: #FBFFFC;
}

svg, img {
  display: block;
  width: 100%;
}

h1 {
  color: #26B3F0;
}

header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: 0.5s ease;
  position: fixed;
  /*deixa o menu fixado na tela*/
  z-index: 999;
}

.active-header {
  background: #F2FAF5;
  box-shadow: 0px 2.3096878529px 3.6230399609px 0px rgba(19, 233, 105, 0.03), 0px 6.3859915733px 10.017241478px 0px rgba(19, 233, 105, 0.04), 0px 15.3750076294px 24.1176586151px 0px rgba(19, 233, 105, 0.05), 0px 51px 80px 0px rgba(0, 54, 22, 0.08);
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  width: 48px;
  height: 48px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-desktop {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-desktop .menu-item {
  position: relative;
  margin-left: 16px;
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 18px;
  position: relative;
}
.nav-link-desktop::after {
  content: "";
  position: absolute;
  top: 42%;
  right: 1px;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-radius: 1px;
  transition: 0.2s linear;
  border-bottom: 2px solid #00FD83;
  border-right: 2px solid #00FD83;
}
.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  background-color: #FBFFFC;
  border-radius: 16px;
  padding: 16px 24px;
  box-shadow: 0px 2.3096878529px 3.6230399609px 0px rgba(16, 158, 73, 0.03), 0px 6.3859915733px 10.017241478px 0px rgba(14, 148, 68, 0.04), 0px 15.3750076294px 24.1176586151px 0px rgba(3, 174, 72, 0.05), 0px 51px 80px 0px rgba(0, 54, 22, 0.08);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s ease;
}
.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}
.nav-link-dropdown::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transition: 0.5s ease;
  width: 0%;
  height: 2px;
  background-color: #13E969;
}
.nav-link-dropdown:hover::after {
  width: 100%;
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
  background-color: rgb(255, 255, 255);
}
.bx::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  background-color: #00FD83;
}
.bx::before {
  content: "";
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  background-color: #00FD83;
}

.menu-mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  .menu-mobile {
    display: block;
  }
}

.border {
  border: 1px solid red;
}/*# sourceMappingURL=style.css.map */