a {
    @include typeface-2(p2, desktop);
    text-decoration: none;
    color: $black-normal;
    transition: .5s ease;

    &:hover {
        opacity: .9;
    }
}

.btn {
    border-radius: 16px;
    background: var(--gradiente-green-my-bank, linear-gradient(221deg, $primary-normal 0%, $primary-dark 70.00%));
    padding: 12px 32px;
    transition: .3s ease;
    color: $white-light;

    box-shadow: 0px 2.767256498336792px 2.6012210845947266px 0px rgba(53, 53, 53, 0), 0px 6.650102138519287px 6.251095771789551px 0px rgba(34, 34, 34, 0.07), 0px 12.521552085876465px 11.770258903503418px 0px rgba(80, 80, 80, 0.09), 0px 22.3363094329834px 20.996129989624023px 0px rgba(71, 71, 71, 0.1), 0px 41.777610778808594px 39.27095413208008px 0px rgba(54, 54, 54, 0.12), 0px 100px 94px 0px rgba(58, 58, 58, 0.17);

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 1.9473838806152344px 2.7172799110412598px 0px rgba(47, 145, 97, 0.87), 
        0px 5.384267330169678px 7.5129313468933105px 0px rgba(15, 228, 125, 0.07), 
        0px 12.963241577148438px 18.08824348449707px 0px rgba(71, 227, 152, 0.09), 
        0px 43px 60px 0px rgba(7, 205, 110, 0.14);
    }

}

.link{
    display: inline-block;
    background-image: url('/svg/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    font-size: 18px;

    padding: 16px 16px 16px 40px;

    position: relative;

    &::after{
        content: '';
        position: absolute;
        display: block;

        top: 75%;
        left: 55px;

        width: 0%;
        height: 2px;
        border-radius: 2px;
        transition: .5s ease;

        background-color: $secondary-light;
    }

    &:hover{
        opacity: 0.8;
        padding-left: 64px;
        background-position: 8px 50%;
        &::after{
            width: 100%;
            background-color: $secondary-light;
        }
    }
}
