$primary-normal:#00EF7C;
$primary-light:#47E398;
$primary-dark:#00BF63;


$secondary-normal:#13E969;
$secondary-light:#25F076;
$secondary-dark:#00CC52;

$gradient-green:  linear-gradient(221deg, #00BF63 0%, #00FD83 100%);

$black-normal:#232224;
$black-light:#353436;
$black-dark:#161617;


$white-normal:#F2FAF5;
$white-light:#FBFFFC;
$white-dark:#EAEFEC;


$gray-1:#454446;
$gray-2:#555456;
$gray-3:#666566;
$gray-4:#767576;
$gray-5:#868587;
$gray-6:#969597;
$gray-7:#A6A6A7;


/*cores auxiliares*/

$red-normal:#EB3D3D;
$red-light:#F05454;
$red-dark:#D03333;


$blue-normal:#26B3F0;
$blue-light:#59C5F3;
$blue-dark:#2FA7DB;


$yellow-normal:#FFCE52;
$yellow-light:#FFD76B;
$yellow-dark:#D9B043;

